[submodule "lossy8"]
	path = lossy8
	url = https://github.com/smanders/libjpeg.git
[submodule "lossy12"]
	path = lossy12
	url = https://github.com/smanders/libjpeg.git
[submodule "lossless"]
	path = lossless
	url = https://github.com/smanders/libjpeg.git
